# Problem Statement

##Statistical Learning

Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming LaLiga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within the first 6 positions, how many seasons they have qualified, their best position in the past, etc.

You are required to do the following:

####1. Use a new python notebook and read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (5 points)

In [0]:
from google.colab import files
files.upload()

Saving Laliga.csv to Laliga.csv

{'Laliga.csv': b',,,,,,,,,,,,,,,,,,,\r\nPos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition\r\n1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1\r\n2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1\r\n3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1\r\n4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1\r\n5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1\r\n6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1\r\n7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3\r\n8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1\r\n9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2\r\n10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1\r\n11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1\r\n12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4\r\n13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4\r\n14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2\r\n15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2\r\n16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4\r\n17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4\r\n18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3\r\n19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3\r\n20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2\r\n21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2\r\n22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6\r\n23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8\r\n24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5\r\n25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6\r\n26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5\r\n27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5\r\n28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11\r\n29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6\r\n30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6\r\n31,Salamanca,12,375,423,123,102,198,422,581,-,-,-,-,-,-,-,1974-75,1998-99,7\r\n32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4\r\n33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12\r\n34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7\r\n35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4\r\n36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7\r\n37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8\r\n38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5\r\n39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10\r\n40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8\r\n41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12\r\n42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7\r\n43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17\r\n44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10\r\n45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3\r\n46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9\r\n47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7\r\n48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17\r\n49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19\r\n50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10\r\n51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14\r\n52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6\r\n53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10\r\n54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8\r\n55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16\r\n56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17\r\n57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20\r\n58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16\r\n59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16\r\n60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15\r\n61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9'}

In [0]:
import pandas as pd

In [20]:
laliga = pd.read_csv('Laliga.csv', skiprows=1)
laliga.head(10)

   Pos             Team  Seasons  ...    Debut Since/LastApp BestPosition
0    1      Real Madrid       86  ...     1929          1929            1
1    2        Barcelona       86  ...     1929          1929            1
2    3  Atletico Madrid       80  ...     1929       2002-03            1
3    4         Valencia       82  ...  1931-32       1987-88            1
4    5  Athletic Bilbao       86  ...     1929          1929            1
5    6          Sevilla       73  ...  1934-35       2001-02            1
6    7         Espanyol       82  ...     1929       1994-95            3
7    8    Real Sociedad       70  ...     1929       2010-11            1
8    9         Zaragoza       58  ...  1939-40       2012-13            2
9   10       Real Betis       51  ...  1932-33       2015-16            1

[10 rows x 20 columns]

In [21]:
laliga.isnull().sum()

Pos              0
Team             0
Seasons          0
Points           0
GamesPlayed      0
GamesWon         0
GamesDrawn       0
GamesLost        0
GoalsFor         0
GoalsAgainst     0
Champion         0
Runner-up        0
Third            0
Fourth           0
Fifth            0
Sixth            0
T                0
Debut            0
Since/LastApp    0
BestPosition     0
dtype: int64

In [22]:
#No NULL values, Cheers!
laliga.replace(to_replace='-', value=0, inplace=True)
laliga.head(10)

   Pos             Team  Seasons  ...    Debut Since/LastApp BestPosition
0    1      Real Madrid       86  ...     1929          1929            1
1    2        Barcelona       86  ...     1929          1929            1
2    3  Atletico Madrid       80  ...     1929       2002-03            1
3    4         Valencia       82  ...  1931-32       1987-88            1
4    5  Athletic Bilbao       86  ...     1929          1929            1
5    6          Sevilla       73  ...  1934-35       2001-02            1
6    7         Espanyol       82  ...     1929       1994-95            3
7    8    Real Sociedad       70  ...     1929       2010-11            1
8    9         Zaragoza       58  ...  1939-40       2012-13            2
9   10       Real Betis       51  ...  1932-33       2015-16            1

[10 rows x 20 columns]

####2. Print all the teams which have started playing between 1930-1980. use “Since/lastApp” column (5 points)

In [37]:
# Extracting first four digits from string as year

laliga['Debut']=laliga.Debut.apply(lambda x: str(x)[:4])

# To perform mathematical operation on Debut column, converting it into numeric

laliga['Debut'] = pd.to_numeric(laliga['Debut'])

# Printing team debuts in between 1930 - 1980
print (laliga[['Team','Debut']][laliga.Debut>=1930][laliga.Debut<=1980])

                   Team  Debut
3              Valencia   1931
5               Sevilla   1934
8              Zaragoza   1939
9            Real Betis   1932
10  Deportivo La Coruna   1941
11           Celta Vigo   1939
12           Valladolid   1948
14       Sporting Gijon   1944
15              Osasuna   1935
16               Malaga   1949
17               Oviedo   1933
18             Mallorca   1960
19           Las Palmas   1951
21              Granada   1941
22       Rayo Vallecano   1977
23                Elche   1959
25             Hercules   1935
26             Tenerife   1961
27               Murcia   1940
28               Alaves   1930
29              Levante   1963
30            Salamanca   1974
31             Sabadell   1943
32                Cadiz   1977
34            Castellon   1941
37              Cordoba   1962
39           Recreativo   1978
40            Burgos CF   1971
41           Pontevedra   1963
46            Gimnastic   1947
49             Alcoyano   1945
50                 Jaen   1953
52           AD Almeria   1979
54               Lleida   1950
57               Condal   1956
58      Atletico Tetuan   1951
59     Cultural Leonesa   1955

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

####3. Print the list of teams which came Top 5 in terms of points (2.5 points)

In [38]:
# Checking existing data types
laliga.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut             int64
Since/LastApp    object
BestPosition      int64
dtype: object

In [39]:
# Points column type is detected as object, converting it to numeric type

laliga[['Points', 'GoalsFor', 'GoalsAgainst', 'GamesPlayed', 'GamesWon', 'GamesDrawn', 'GamesLost']] = laliga[['Points', 'GoalsFor', 'GoalsAgainst', 'GamesPlayed', 'GamesWon', 'GamesDrawn', 'GamesLost']].apply(pd.to_numeric)
laliga.dtypes

Pos               int64
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut             int64
Since/LastApp    object
BestPosition      int64
dtype: object

In [0]:
# Method 1 : Sorting and storing data in subset named Top5

Top5 = laliga.sort_values(by = ['Points'], ascending=False).head(5)

In [41]:
Top5.loc[:,['Team', 'Points']]

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

In [42]:
# Method 2 : Without storing subset, single line output

laliga.loc[:,['Team', 'Points']].sort_values(by = ['Points'], ascending=False).head(5)

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

####4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
Goal_diff_count = GoalsFor - GoalsAgainst

In [0]:
# defining a function:

def Goal_diff_count():
  laliga['Goal Difference'] = laliga['GoalsFor'] - laliga['GoalsAgainst']
  
  print(laliga.loc[:,['Team', 'Goal Difference']])
  
  print("Team with Maximum Number of Goal Difference:\n",
        laliga.loc[:,['Team', 'Goal Difference']].sort_values(by = ['Goal Difference'], ascending=False).head(1), "\n\n")
  
  print("Team with Minimum Number of Goal Difference:\n",
        laliga.loc[:,['Team', 'Goal Difference']].sort_values(by = ['Goal Difference'], ascending=True).head(1), "\n")

In [44]:
# calling a function
Goal_diff_count()

                   Team  Goal Difference
0           Real Madrid             2807
1             Barcelona             2786
2       Atletico Madrid             1225
3              Valencia              929
4       Athletic Bilbao              931
5               Sevilla              307
6              Espanyol             -280
7         Real Sociedad               -2
8              Zaragoza             -164
9            Real Betis             -333
10  Deportivo La Coruna             -136
11           Celta Vigo             -346
12           Valladolid             -413
13     Racing Santander             -525
14       Sporting Gijon             -399
15              Osasuna             -334
16               Malaga             -342
17               Oviedo             -309
18             Mallorca             -189
19           Las Palmas             -399
20           Villarreal              103
21              Granada             -338
22       Rayo Vallecano             -328
23                Elche             -272
24               Getafe             -113
25             Hercules             -334
26             Tenerife             -125
27               Murcia             -385
28               Alaves             -165
29              Levante             -202
..                  ...              ...
31             Sabadell             -228
32                Cadiz             -269
33             Logrones             -198
34            Castellon             -169
35             Albacete              -90
36              Almeria             -122
37              Cordoba             -145
38           Compostela              -42
39           Recreativo              -94
40            Burgos CF              -94
41           Pontevedra              -56
42             Numancia              -98
43                Eibar              -28
44               Arenas              -81
45          Real Burgos              -38
46            Gimnastic             -114
47          Extremadura              -55
48               Merida              -45
49             Alcoyano             -107
50                 Jaen              -62
51           Real Union              -31
52           AD Almeria              -45
53               Europa              -34
54               Lleida             -112
55              Leganes              -19
56                Xerez              -28
57               Condal              -20
58      Atletico Tetuan              -34
59     Cultural Leonesa              -31
60               Girona                0

[61 rows x 2 columns]
Team with Maximum Number of Goal Difference:
           Team  Goal Difference
0  Real Madrid             2807


Team with Minimum Number of Goal Difference:
                 Team  Goal Difference
13  Racing Santander             -525

####5. Create a new column with the name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

In [45]:
# Calculating Winning Percentage
laliga['Winning Percentage'] = (laliga['GamesWon'] / laliga['GamesPlayed']) * 100

# Replacing potential NaN values with 0's
laliga.fillna(0, inplace=True)

# Print
laliga.loc[:,['Team', 'GamesWon', 'GamesPlayed', 'Winning Percentage']]

                   Team  GamesWon  GamesPlayed  Winning Percentage
0           Real Madrid      1647         2762           59.630702
1             Barcelona      1581         2762           57.241130
2       Atletico Madrid      1241         2614           47.475134
3              Valencia      1187         2664           44.557057
4       Athletic Bilbao      1209         2762           43.772629
5               Sevilla       990         2408           41.112957
6              Espanyol       948         2626           36.100533
7         Real Sociedad       864         2302           37.532580
8              Zaragoza       698         1986           35.146022
9            Real Betis       606         1728           35.069444
10  Deportivo La Coruna       563         1530           36.797386
11           Celta Vigo       586         1698           34.511190
12           Valladolid       463         1466           31.582538
13     Racing Santander       453         1428           31.722689
14       Sporting Gijon       471         1458           32.304527
15              Osasuna       426         1318           32.321700
16               Malaga       390         1255           31.075697
17               Oviedo       408         1192           34.228188
18             Mallorca       333          988           33.704453
19           Las Palmas       367         1096           33.485401
20           Villarreal       266          646           41.176471
21              Granada       218          742           29.380054
22       Rayo Vallecano       189          652           28.987730
23                Elche       203          678           29.941003
24               Getafe       147          456           32.236842
25             Hercules       184          628           29.299363
26             Tenerife       155          494           31.376518
27               Murcia       145          586           24.744027
28               Alaves       125          380           32.894737
29              Levante       113          402           28.109453
..                  ...       ...          ...                 ...
31             Sabadell       129          426           30.281690
32                Cadiz       104          448           23.214286
33             Logrones        96          346           27.745665
34            Castellon       103          334           30.838323
35             Albacete        76          270           28.148148
36              Almeria        62          228           27.192982
37              Cordoba        82          282           29.078014
38           Compostela        52          160           32.500000
39           Recreativo        50          186           26.881720
40            Burgos CF        59          204           28.921569
41           Pontevedra        53          180           29.444444
42             Numancia        37          152           24.342105
43                Eibar        35          114           30.701754
44               Arenas        43          130           33.076923
45          Real Burgos        26          114           22.807018
46            Gimnastic        34          116           29.310345
47          Extremadura        20           80           25.000000
48               Merida        19           80           23.750000
49             Alcoyano        30          108           27.777778
50                 Jaen        29           90           32.222222
51           Real Union        21           72           29.166667
52           AD Almeria        17           68           25.000000
53               Europa        18           54           33.333333
54               Lleida        13           68           19.117647
55              Leganes         8           38           21.052632
56                Xerez         8           38           21.052632
57               Condal         7           30           23.333333
58      Atletico Tetuan         7           30           23.333333
59     Cultural Leonesa         5           30           16.666667
60               Girona         0            0            0.000000

[61 rows x 4 columns]

####6. Print the top 5 teams which have the highest Winning percentage

In [46]:
laliga.loc[:,['Team', 'Points', 'BestPosition', 'Winning Percentage']].sort_values(by = ['Winning Percentage'], ascending=False).head(5)

              Team  Points  BestPosition  Winning Percentage
0      Real Madrid    4385             1           59.630702
1        Barcelona    4262             1           57.241130
2  Atletico Madrid    3442             1           47.475134
3         Valencia    3386             1           44.557057
4  Athletic Bilbao    3368             1           43.772629

#### Group teams based on their “Best position” and print the sum of their points for all positions (7.5 points)
Eg: Best Position    Points 

       1                   25000

       2                   7000

In [47]:
laliga.groupby('BestPosition')[['Points']].sum()

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34

# Thank You